<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <input id="display" readonly>
        <div id="keys">
            <button onclick="appedntoDisplay('+')" class="operator">+</button>
            <button onclick="appedntoDisplay('7')">7</button>
            <button onclick="appedntoDisplay('8')">8</button>
            <button onclick="appedntoDisplay('9')">9</button>
            <button onclick="appedntoDisplay('-')" class="operator">-</button>
            <button onclick="appedntoDisplay('4')">4</button>
            <button onclick="appedntoDisplay('5')">5</button>
            <button onclick="appedntoDisplay('6')">6</button>
            <button onclick="appedntoDisplay('*')" class="operator">*</button>
            <button onclick="appedntoDisplay('1')">1</button>
            <button onclick="appedntoDisplay('2')">2</button>
            <button onclick="appedntoDisplay('3')">3</button>
            <button onclick="appedntoDisplay('/')" class="operator">/</button>
            <button onclick="appedntoDisplay('0')">0</button>
            <button onclick="appedntoDisplay('.')">.</button>
            <button onclick="calculate('=')">=</button>
            <button onclick="cleardisplay('C')" class="operator">C</button>

        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>